@import "tailwindcss";
.fade-in {
    animation: fadeIn 0.25s ease-out;
  }
  
  .fade-out {
    animation: fadeOut 0.25s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to   { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to   { opacity: 0; transform: translateY(-4px); }
  }
  